<!DOCTYPE html>
<html lang="en">
	{% include "groovesweeperapp/bootstrap.html" %}
	{% include "groovesweeperapp/javascript.html" %}
	<head>
		<title>Welcome to GrooveSweeper</title>
	</head>
	<body>
		{% include "groovesweeperapp/navBar.html" %}
		<h1>Welcome to GrooveSweeper</h1>
		<form method = "post">
			{% csrf_token %}
			{{form}}
			<button name = "search-button">Search</button>
		</form>

		<!-- Below is the edit filter modal code -->
		<a href="#"><div id="filter-settings" data-toggle="modal" data-target="#filterModal">Edit Filter</div></a>
	  <div id="filterModal" class="modal fade" role="dialog">
	      <div class="modal-dialog">
	          <!-- Modal content-->
	            <div class="modal-content">

	                <div class="modal-header">
	                    <h4 class="modal-title">Edit Filter</h4>
	                </div>

	                <div class="modal-body">
											<!-- Everything above the <hr> is the existing filters
													 interface that lets you add  sets to the filter.
													 The buttons are enabled/disabled depending if the
													 words are in the filter already -->
	                    <p>Seven Dirty Words: {{7dw}}</p>
											<form method = "post">
													{% csrf_token %}
													{% if all7 %}
															<input type="submit" name="add7" class="btn btn-primary" value="Add Words" disabled/>
													{% else %}
															<input type="submit" name="add7" class="btn btn-primary" value="Add Words"/>
													{% endif %}
											</form>

											<p>Common Swear Words: {{common_swears}}</p>
											<form method = "post">
													{% csrf_token %}
													{% if all_common %}
															<input type="submit" name="addcommon" class="btn btn-primary" value="Add Words" disabled/>
													{% else %}
															<input type="submit" name="addcommon" class="btn btn-primary" value="Add Words" />
													{% endif %}
											</form>

											<hr>


	                </div>

	                <div class="modal-footer">
	                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	                </div>

	            </div>
	      </div>
	  </div>
	</body>
</html>
