{% load static %}
<!DOCTYPE html>
<html lang = 'en'>
	<head>
		{% include "groovesweeperapp/bootstrap.html" %}
		{% include "groovesweeperapp/javascript.html" %}
		<link rel="stylesheet" href="{% static 'allpages.css' %}">
		{% load lyrics_highlight %}
		<title>Lyrics Page</title>
	</head>
	<body>
		{% include "groovesweeperapp/navBar.html" %}
		<h1 class = "text-center"> Lyrics for {{name}}</h1>
		<h1 class = "text-center"> {{song_status}} </h1>
		<h3> contains the following explicit words: {{explicit}} </h3>
		<div class = "text-center">
			<p> {{lyrics|highlight:explicit}} </p>
		</div>
		<p> <a href="{{geniusurl}}">Link to Genius lyrics page </a> </p>
	</body>
</html>
