{% load static %}
<!DOCTYPE html>
<html lang = 'en'>
	<head>
		{% include "groovesweeperapp/bootstrap.html" %}
		{% include "groovesweeperapp/javascript.html" %}
		<link rel="stylesheet" href="{% static 'allpages.css' %}">
		{% load lyrics_highlight %}
		<title>Lyrics Page</title>
	</head>
	<body>
		{% include "groovesweeperapp/navBar.html" %}
		<h1 class = "text-center">{{name}}</h1>

		{{song_status|safe}}

		<h3> contains the following explicit words: {{explicit}} </h3>
		<div class = "row justify-content-center">
			<div class = "col-auto text-center border-right rounded"
				style =
					"background-color : #fff2cc;
						padding-top: 15px;
						padding-bottom: 15px;">
				<p> {{lyrics|highlight:explicit}} </p>
			</div>
		</div>
		<h3 align = "center"> <a class = "text-white"  href="{{geniusurl}}">Link to Genius lyrics page </a> </h3>
	</body>
</html>
