
<!DOCTYPE html>
	<head>
		<title>Contact us</title>
	</head>
	<body>
		<div class="container">
			<form action="" method="post">
				{% csrf_token %}
				<label for="name">Your Name</label>
				<input type="text" name="name">

				<label for="senderEmail">Your email</label>
				<input type="text" name="senderEmail" placeholder="Your Email..">

				<label for="subject">Subject</label>
				<input type="text" name="subject" placeholder="Email subject line..">

				<label for="message">Message</label>
				<textarea id="message" name="message"
					placeholder="Email us about bugs, errors, or advertisement
					inquiries!" style="height:200px"></textarea>

				<input type="submit" value="Send Message!">

			</form>
		</div>
	</body>
</html>
