body{
	background-color: #8e7cc3
}
h1{
	margin-top : 10px;
	margin-bottom: 10px;
}

hr {
	background-color: black;
}


/******************************/
/****  CSS FOR INDEX.HTML  ****/
/******************************/


label[for=id_term] {
	display:none;
}

label[for=id_to_add] {
	display:none;
}

.index-search {
	/*display:inline;*/
}

.index-bar #id_term {
	background-color: #ffe599;
	border:5px solid black;
	width:60%;
}

.index-search button {
	display:none;
}
.index-bar button {
		border-width:0px 5px 5px 5px;
		border-style: solid;
		border-color: black;
		background-color: #f1c232;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		width:20%
}

.tri-left {
	display:inline;
	position: absolute;
	margin-left:-17px;
  width: 0;
  height: 0;
  border-top: 40px solid black;
  border-left: 20px solid transparent;
}

.tri-right {
	display:inline;
	position:absolute;
	margin-left:-3px;
	width: 0;
  height: 0;
  border-top: 40px solid black;
  border-right: 20px solid transparent
}

.index-bar {
		/*display:inline-block;*/
		width:100%;
		float:left;
		text-align:center;
}

.modal-content {
	background-color: #ffe599;
}

.modal-header {
	text-align:center;
	border-bottom:2px solid black;
}

.index-preset-filter {
	display:inline-block;
	width:100%;
}

.index-preset-filter p {
	width:75%;
	display:inline-block;
}

.index-preset-filter input {
	float:right;
	background-color: #f1c232;
}

.index-preset-filter form {
	display:inline-block;
	float:right;
}

.index-preset-filter hr {
	width:75%;
}

.filter-buttons {
	display:flex;
	max-width:100%;
}

.filter-buttons button {
	margin:2px;
	flex:none;
}

.filter-add-word {
	text-align:center;
}

.filter-add-word button {
	background-color: #f1c232;
}

/*******************************/
/****  CSS FOR LYRICS.HTML  ****/
/*******************************/

.lyrics-banner {
	display:table;
	padding-left: 40px;
	padding-right: 40px;
}
